<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
	
	<div class="menu_dropdown bk_2">
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理(暂未实现)<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#" title="品牌管理">品牌管理</a></li>
					<li><a href="#" title="分类管理">分类管理</a></li>
					<li><a href="#" title="产品管理">产品管理</a></li>
		</ul>
	</dd>
</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理(暂未实现)<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#" title="会员列表">会员列表</a></li>
					<li><a href="#" title="删除的会员">删除的会员</a></li>
					<li><a href="#" title="等级管理">等级管理</a></li>
					<li><a href="#" title="积分管理">积分管理</a></li>
					<li><a href="#" title="浏览记录">浏览记录</a></li>
					<li><a href="#" title="下载记录">下载记录</a></li>
					<li><a href="#" title="分享记录">分享记录</a></li>
		</ul>
	</dd>
</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#" title="角色管理">角色管理(暂未实现)</a></li>
					<li><a href="#" title="权限管理">权限管理(暂未实现)</a></li>
					<li><a href="{:url('user/adminlist')}" title="管理员列表">管理员列表</a></li>
		</ul>
	</dd>
</dl>
</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->