{include file="public/meta" /}

<title>{$title|default="网页标题"}</title>
<meta name="keywords" content="{$keywords|default='网页关键字'}">
<meta name="description" content="{$desc|default='网页描述'}">
</head>

<body>
	<article class="cl pd-20">
		<form action="" method="post" class="form form-horizontal" id="form-admin-edit">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>用户名：</label>
				<div class="formControls col-xs-8 col-sm-9">

					{eq name="$user_info.name" value="admin"}
					<!--如果用户名是admin,不允许修改-->
					<input type="text" class="input-text disabled" disabled="disabled" value="{$user_info.name}" placeholder="" id="name" name="name"> 
					{else /} 
					{eq name="$Think.session.user_info.name" value="$user_info.name" }
					<input type="text" class="input-text disabled" disabled="disabled" value="{$user_info.name}" placeholder="" id="name" name="name"> 
					{else /}
					<input type="text" class="input-text" value="{$user_info.name}" placeholder="" id="name" name="name"> 
					{/eq} 
					{/eq}
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>新密码：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="password" class="input-text" autocomplete="off" value="" placeholder="请输入新密码" id="pwd" name="pwd">
				</div>
			</div>
			<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>性别：</label>
					<div class="formControls col-xs-8 col-sm-9">
						男<input type="radio" class=" "  value="m" id="sex_m" name="sex">&nbsp;&nbsp;
						女<input type="radio" class=" "  value="f" id="sex_f" name="sex">
					</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>身份证号：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" autocomplete="off" value="{$user_info.idcard}" placeholder="身份证号" id="idcard" name="idcard">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red">*</span>邮箱：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" placeholder="@" name="email" id="email" value="{$user_info.email}">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">
					<span class="c-red"></span>联系地址：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" placeholder="" name="addr" id="addr" value="{$user_info.addr}">
				</div>
			</div>

			<!-- 只有超级管理员才能更改用户类别和在线状态 -->
			{eq name="$Think.session.user_info.name" value="admin"}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">用户类别：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<span class="select-box" style="width:150px;">
						<select class="select" id="category" name="category" size="1">
							<option id="0" value="0">超级管理员</option>
							<option id="1" value="1" >管理员</option>
							<option id="10" value="10">重要用户</option>
							<option id="11" value="11">普通用户</option>
							<option id="12" value="12">标黑用户</option>
						</select>
					</span>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">在线状态：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<span class="select-box" style="width:150px;">
						<select class="select" id="is_online" name="is_online" size="1">
							<option id="onlineyes" value="1" >已在线</option>
							<option id="onlineno" value="0" >未在线</option>
							<!-- <option value="1" id="online1">已在线</option>
							<option value="0" id="online0">未在线</option> -->
						</select>
					</span>
				</div>
			</div>
			{/eq}
			<!--将当前记录的id做为隐藏域发送到服务器-->
			<input type="hidden" value="{$user_info.id}" name="id">

			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit">
				</div>
			</div>
		</form>
	</article>


	{include file="public/footer" /}
	<script>

		$(function () {
			//只有表单值修改了，提交按钮才被激活
			$("form").children().change(function () {
				$("#submit").removeClass('disabled');
			});


			//ajax方法请求index\user控制下的editUser方法以修改用户信息
			$("#submit").on("click", function (event) {
				$.ajax({
					type: "POST",
					url: "{:url('user/editUser')}",
					data: $("#form-admin-edit").serialize(),
					dataType: "json",
					success: function (data) {
						if (data.status == 1) {
							alert(data.message);
						} else {
							alert(data.message);
						}
					}
					/* ,error:function (data){
						alert(data.message);
					} */
				});

			})
		})

		//选择框初始化选择
		$(function() {
			//$("#online{$user_info.is_online}").attr('selected',true);
			$("#sex_{$user_info.sex}").attr('checked',true);
			$("#{$user_info.category}").attr('selected',true);
			if("{$user_info.is_online}" == "0"){
				//alert("{$user_info.is_online}"+": is not online");
				$("#onlineno").attr('selected',true);
			}else{
				//alert("{$user_info.is_online}"+": is online");
				$("#onlineyes").attr('selected',true);
			}
		})
	</script>

</body>

</html>